html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea {
    font: inherit;
}

address,
cite {
  font-style: normal;
}

button {
  appearance: none;
  border: transparent;
  background-color: transparent;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: color 0.5 ease;
  color: inherit;
}

a, button, img, input, textarea {
  outline: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: $title;
  background-color: #fff;
  min-width: 320px;
}

// body.lock {
// 	overflow: hidden;
// } 

.wrapper {
	overflow-y: hidden;
	min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.d-flex {
  display: flex;
}

.f-jcsb {
  justify-content: space-between;
}

.f-aic {
  align-items: center;
}

.f-jcc {
  justify-content: center;
}

.f-jce {
  justify-content: flex-end;
}

.f-jcs {
  justify-content: flex-start;
}

.fd-c {
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
  text-align: center;
}

.title {
  position: relative;
  display: inline-block;
  padding: 0 80px;
  margin-bottom: 70px;
  font-size: 36px;
  letter-spacing: 0.04em;
  color: $title;
}

.btn {
  font-size: 15px;
  font-weight: 500;
  color: $white;
  padding: 19px 30px;
  letter-spacing: 1px;
  // background-color: #4340D1;
  background: linear-gradient(90deg, #ab07c6 0%, #4340D1 106.31%);
  border-radius: 3px;
  position: relative;
  overflow:hidden;
  z-index: 1;

  &:before{
    content: '';
    position:absolute;
    left: var(--x);
    top: var(--y);
    width: 0px;
    height: 0px;
    background: radial-gradient(circle closest-side, #df61f3, #FF000000);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: width 0.3s linear, height 0.3s linear
  }
  
  &:hover:before{
    width: 100px;
    height: 100px;
  }
}