html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: $title;
  background-color: #fff;
  min-width: 320px;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.5 ease-in-out;
}

ul {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.d-flex {
  display: flex;
}

.f-jcsb {
  justify-content: space-between;
}

.f-aic {
  align-items: center;
}

.hidden {
  font-size: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $title;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.btn {
  font-size: 15px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  padding: 19px 30px;
  border: transparent;
  outline: transparent;
  background: linear-gradient(90deg, #AB07C6 0%, #4340D1 106.31%);
  border-radius: 30px;
}