@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content;
  }
}

@mixin text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@mixin transition {
  transition: all 0.5s ease;
}

@mixin transform {
 left: 50%;
 transform: translate(-50%, -50%);
}