:root {
  --x: 200;
  --y: 200;
}

$maxWidth: 1280;
$desktop: 1200;
$tablet: 992;
$tablet-large: 768;
$mobile: 576;
$text:#201D22;
$title: #FEF6FF;
$white: #ffffff;
$line: #A004FF;
$bg-skills: rgba(60, 5, 92, 0.8);
$text-form: #9E06CB;
