<<<<<<< HEAD
$maxWidth: 1280;
$desktop: 1200;
$tablet: 992px;
$tablet-large: 768;
$mobile: 576;
=======
$desctop: 1200;
$tablet: 992;
$tablet-large: 768;
$mobile: 576;

>>>>>>> 20fffa9cfc2dc29c33cbddb2a30d13993e165c40
$text:#201D22;
$title: #FEF6FF;
$white: #ffffff;
$line: #A004FF;
$bg-skills: #503760;
$text-form: #9E06CB;
