@import 'fonts';
@import 'vars';
@import 'global';
@import 'mixins';

@import 'components/_header'; 
@import 'components/_logo';
@import 'components/_decor-line'; 
@import 'components/_about'; 
@import 'components/_skills'; 
@import 'components/_portfolio'; 
@import 'components/_reviews';
@import 'components/_footer';
@import 'components/_accordion';
@import 'components/_form';
@import 'components/_fancybox-style';


