.about {
  padding: 100px 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../images/photo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 140px;
  }

  &__inner {
    padding-top: 55px;
  }

  &__title {
    color: #60226A;
    margin: 0 auto;
    max-width: 310px;
    height: 60px;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:before {
      background-image: url(../images/vector-about1.svg);
      width: 108px;
      height: 62px;
      left: 0;
      top: -5px;
    }

    &:after {
      background-image: url(../images/vector-about2.svg);
      right: 0;
      width: 190px;
      height: 30px;
      top: 25px;
    }
  }

  &__content {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;

    @include r($desktop) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__img {
    max-width: 617px;
    min-height: 596px;
  }

  &__text {
    max-width: 880px;
    width: 100%;
    padding-right: 40px;
    color: $text;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
  }

  .simplebar-scrollbar:before {
    background-color: $line;
    width: 4px;
  }

  &__line {
    position: absolute;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    height: 3px;
    width: 700px;
    border-radius: 5px;

    &--top {
      top: 0px;
      left: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), $line);
      animation: line1 10s linear infinite;
      animation-delay: 1s;
    }

    @keyframes line1 {
      0% {
        left: -200px;
      }

      100% {
        left: 1900px;
      }
    }
  }

  &__square {
    position: absolute;
    bottom: 50px;
    z-index: -1;
    display: block;
    width: 600px;
    height: 600px;
    background-color: #FDF3FF;
    opacity: 0.5;
    transform: rotate(45deg);

    &--right {
      right: 10%;
    }

    &--left {
      left: -100px;
      bottom: -20px;
    }
  }

  &__decor-line {
    position: absolute;
    bottom: 0;
    opacity: 1;

    &--one {
      width: 100%;
      background-color: $bg-skills;
    }

    &--three {
      width: 120px;
      background-color: #DA8EE7;
      bottom: 10px;
      right: 29.5%;
    }

    &--five {
      width: 80px;
      height: 30px;
      background-color: $bg-skills;
      right: 6%;
    }

    &--six {
      width: 260px;
      height: 10px;
      background-color: $bg-skills;
      bottom: 10px;
      left: 3%;
    }
  }
}