.accordion {
  margin: 90px auto 100px;
  max-width: 820px;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-trigger {
  background-color: #ebd8ee;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 25px 50px 25px 25px;
  position: relative;
  cursor: pointer;

  &:focus {
    box-shadow: 0px 0px 5px 1px #d0c1f1;
  }

  &:hover {
    background-color: #e5bcec;
  }
}

.accordion-trigger::after {
  font-family: 'icomoon' !important;
  content: "\f067";
  font-size: 16px;
  position: absolute;
  right: 15px;
}

.accordion-trigger.accordion-open::after {
  content: "\f068";
}

.active {
  font-weight: 700;
  background-color: #d99be4;
}

.active {

  &:hover {
    background-color: #f1c9f8;
  }
}

.accordion-collapse {
  background-color: #e5d2e9;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  color: #000;
  display: none;
  padding: 25px;
  text-align: left;
}

.accordion-text {
  padding: 0;
}