.decor-line {
  width: 120px;
  height: 10px;
  opacity: 0.5;
  background-color: $line;
  display: block;
  position: absolute;
  z-index: 6;


  &--line1 {
    top: 25%;
    width: 80px;
  }

  &--line2 {
    top: 60%;
    width: 20px;
    height: 60px;
    background-color: #DA8EE7;
  }

  &--line3 {
    bottom: 0;
    width: 60px;
    background-color: $white;
    opacity: 1;
    left: 20%;
  }

  &--line4 {
    bottom: 0;
    width: 300px;
    right: 15%;
  }

  &--line5 {
    bottom: -10px;
    width: 100px;
    right: 28%;
  }

  &--line6 {
    bottom: 20%;
    width: 80px;
    height: 20px;
    right: 20%;
  }

  &--line7 {
    top: 330px;
    width: 80px;
    right: 8%;
    background-color: #C468D3;
  }

  &--line8 {
    bottom: -10px;
    width: 120px;
    left: 10%;
    background-color: #C468D3;
  }
}
