.footer {
  background-color: $bg-skills;
  position: relative;
  padding: 100px 0 160px;

  &__title {
    width: 300px;
    height: 75px;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 75px;
    }

    &:before {
      background-image: url(../images/vector-footer2.svg);
      width: 140px;
      left: 0;
      top: -13px;
    }

    &:after {
      background-image: url(../images/vector-footer1.svg);
      right: 0;
      width: 145px;
      height: 70px;
      top: -10px;
    }
  }

  &__img {
    width: 149px;
    height: 46px;
  }

  &__inner {
    margin-top: 85px;
    padding: 30px 35px 50px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:after {
      content: "";
      position: absolute;
      background-color: rgba(32, 27, 32, 0.7);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &__address {
    margin-top: 60px;
  }

  &__contact {
    display: block;
    z-index: 4;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
    color: $white;
    font-style: normal;
    padding-left: 40px;
    @include transition;

    &--hover:hover {
      color: #DA8EE7;
    }
  }

  &__icon {
    position: absolute;
    top: 1px;
    left: 0;
  }

  &__networks {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
  }

  &__net {
    display: block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__net-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    font-style: normal;
    @include transition;
    background-color: rgba(32, 27, 32, 0.7);

    &:hover {
      box-shadow: 0 0 7px 2px #a5a5a7;
      animation: bounce 1s;
    }

    @keyframes bounce {
      0%, 20%, 53%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
      }
    
      40% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -6px, 0);
      }
    
      70% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -4px, 0);
      }
    
      90% {
        transform: translate3d(0,-2px,0);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'icomoon' !important;
      font-size: 16px;
      color: $white;
    }

    &--fb {

      &:before {
        content: "\f09a";
      }

      &:hover {
        background-color: #3b5998;
      }
    }

    &--git {

      &:before {
        content: "\f09b";
        font-size: 20px;
      }

      &:hover {
        background-color:  #2a5a8a;
      }
    }

    &--in {

      &:before {
        content: "\f0e1";
        font-size: 15px;
      }

      &:hover {
        background-color: #4183c4;
      }
    }
  }

  .footer-form {
    position: absolute;
    top: -35px;
    right: 4%;
    margin: 0 auto;
    max-width: 400px;
    padding: 40px 25px;
    background-color: rgba(31, 28, 28, 0.9);
    border-radius: 11px;
    z-index: 3;

    &__title {
      margin-bottom: 10px;
      color: $text-form;
      text-align: center;
      font-size: 30px;
      line-height: 37px;
      font-weight: 500;
    }

    &__input {
      width: 100%;
      padding: 18px 20px 10px 10px;
      outline: transparent;
      border: transparent;
      margin-bottom: 15px;
      color: $white;
      font-size: 14px;
      letter-spacing: 0.04em;
      background-color: transparent;
      border-bottom: 1px solid #DA8EE7;
      transition: border 0.3s ease;

      &::placeholder {
        color: #DA8EE7;
        letter-spacing: 0.06em;
        font-size: 14px;
        opacity: 0.3;
        font-weight: 400;

        &:hover {
          color: $text-form;
        }
      }

      &:hover {
        border-bottom: 1px solid $text-form;
      }
    }

    &__textarea {
      height: 120px;
      color: $white;
      resize: none;
      margin-bottom: 30px;
    }

    &__btn {
      padding: 15px 30px;
      font-size: 14px;
      margin: 0 auto;
      display: block;
      font-weight: 500;
    }
  }

  &__bottom {
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(31, 28, 28, 0.67)
  }

  &__copyright {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.2)
  }

  // START FOOTER ANIMATION BACKGROUND 
  .area {
    width: 100%;
    height: 100vh;
  }

  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

  }

  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }


  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  @keyframes animate {

    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

  
  .back-top {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    // visibility: hidden;
    z-index: 1000;

    &:before {
      content: "\f077";
      position: absolute;
      display: block;
      font-family: 'icomoon';
      font-size: 12px;
      color: $line;
      z-index: 100;
      top: 50%;
      @include transform;
    }

    &:hover {
      cursor: pointer;
      background-color: #d497fc;
    }

    &:active {
      background-color: #b062e4;
    }
  }

  .back-top .show {
    opacity: 1;
    visibility: visible;
  }
}

// END FOOTER ANIMATION BACKGROUND 