.footer-form {
  position: absolute;
  top: -35px;
  right: 4%;
  margin: 0 auto;
  max-width: 400px;
  padding: 40px 25px;
  background-color: rgba(31, 28, 28, 0.9);
  border-radius: 11px;
  z-index: 3;

  &__title {
    margin-bottom: 10px;
    color: $text-form;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    padding: 18px 20px 10px 10px;
    outline: transparent;
    border: transparent;
    margin-bottom: 15px;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.04em;
    background-color: transparent;
    border-bottom: 1px solid #DA8EE7;
    transition: border 0.3s ease;

    &::placeholder {
      color: #e1b3e9;
      letter-spacing: 0.06em;
      font-size: 14px;
      opacity: 0.3;
      font-weight: 400;

      &:hover {
        color: $text-form;
      }
    }

    &:focus {
      border-bottom: 1px solid $text-form;
    }

    &:hover {
      border-bottom: 1px solid $text-form;
    }
  }

  &__textarea {
    min-height: 120px;
    max-height: 200px;
    color: $white;
    resize: vertical;
    margin-bottom: 30px;
  }

  &__btn {
    padding: 15px 30px;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    font-weight: 500;
  }
}
