.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #3B0959 11.64%, rgba(32, 10, 70, 0.359579) 68.23%, rgba(29, 10, 67, 0.277052) 76.04%, rgba(27, 10, 66, 0.234892) 79.69%, rgba(27, 10, 65, 0.228869) 79.7%, rgba(25, 10, 65, 0.198755) 82.81%, rgba(25, 10, 65, 0.198755) 82.82%, rgba(17, 10, 58, 0) 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &__wrapper {

    &:after,
    &:before {
      content: " ";
      width: 700px;
      height: 700px;
      top: 170px;
      right: -400px;
      border-radius: 5px;
      background-color: $line;
      opacity: 0.12;
      display: block;
      position: absolute;
      z-index: 5;
      transform: rotate(45deg);
    }

    &:before {
      left: -400px;
    }
  }

  &__inner {
    padding: 200px 0 220px;
    text-align: center;
  }

  &__top {
    max-height: 100px;
    margin: 20px 50px 0;
  }

  &__title {
    font-size: calc(36px + 12 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    letter-spacing: 0.09em;
    animation: title 3s;
  }

  @keyframes title {
    0% {
      transform: scale(0, 0);
    }

    100% {
      transform: scale(1, 1);
    }
  }

  &__title-md {
    display: block;
    margin: 0 auto;
    letter-spacing: 0.04em;
    font-size: 26px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 4s steps(29, end) 1s 1 normal both;
  }

  @keyframes animated-text {
    0% {
      width: 0;
    }

    100% {
      width: 560px;
    }
  }

  &__btn {
    margin: 0 auto;
    z-index: 4;
    position: relative;
  }

  &__title-bg {
    display: inline-block;
    padding: 10px;
    background-color: rgba(151, 35, 153, 0.5);
  }

  &__title-bg2 {
    position: relative;
    display: inline-block;
    padding: 10px 0 10px 10px;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
  }

  &__title-text {
    max-width: 800px;
    text-align: center;
    z-index: 3;
    position: relative;
    margin: 0 auto 120px;
    padding: 50px 70px 70px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s;
  }

  &__line {
    position: absolute;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgba(108, 73, 167, 0.36);

    &--top {
      height: 3px;
      width: 700px;
      top: 0px;
      left: -700px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), $line);
      animation: span1 2s linear infinite;
      animation-delay: 2s;
    }

    @keyframes span1 {
      0% {
        left: -700px;
      }

      100% {
        left: 700px;
      }
    }

    &--right {
      height: 273px;
      width: 3px;
      top: -273px;
      right: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $line);
      animation: span2 2s linear infinite;
      animation-delay: 3s;
    }

    @keyframes span2 {
      0% {
        top: -273px;
      }

      100% {
        top: 273px;
      }
    }

    &--bottom {
      height: 3px;
      width: 700px;
      right: -700px;
      bottom: 0px;
      background: linear-gradient(to left, rgba(0, 0, 0, 0), $line);
      animation: span3 2s linear infinite;
      animation-delay: 4s;
    }

    @keyframes span3 {
      0% {
        right: -700px;
      }

      100% {
        right: 700px;
      }
    }

    &--left {
      height: 273px;
      width: 3px;
      bottom: -273px;
      left: 0px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0), $line);
      animation: span4 2s linear infinite;
      animation-delay: 5s;
    }

    @keyframes span4 {
      0% {
        bottom: -273px;
      }

      100% {
        bottom: 273px;
      }
    }
  }

  .menu {
    z-index: 3;

    &__list {
      display: inline-block;
      margin-left: 50px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      color: $title;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.1em;
      padding-bottom: 5px;
      position: relative;

      &:hover {
        color: #A306C8;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        background-color: #A306C8;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  // Стрелочки вниз анимация 
  .arrow-down {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow-down span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid $line;
    border-right: 5px solid $line;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
  }

  .arrow-down span:nth-child(2) {
    animation-delay: -0.2s;
  }

  .arrow-down span:nth-child(3) {
    animation-delay: -0.4s;
  }

  @keyframes arrow-down {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }

  .button {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 40px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    opacity: 0.4;
    // visibility: hidden;
    z-index: 1000;

    &:before {
      content: "\f077";
      position: absolute;
      display: block;
      font-family: 'icomoon';
      font-size: 20px;
      color: $line;
      z-index: 1000;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include transform;
    }

    &:hover {
      cursor: pointer;
      background-color: #d497fc;
    }

    &:active {
      background-color: #b062e4;
    }

    .button .show {
      opacity: 1;
      visibility: visible;
    }
  }

  &__title-form {
    margin-top: 50px;
  }
}