.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;

   &:not(:last-child) {
     margin-right: 50px;
   }
  }

  &__link {
    color: $white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
      color: #cd30f0;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: #A306C8;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .4s ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
