.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 50;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }

  &__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.3s ease 0s;
  }

  &__content {
    color: #000;
    width: 400px;
    padding: 30px;
    position: relative;
    margin-top: 8%;
    transition: all 0.7s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }

  &__close {
    position: absolute;
    right: 35px;
    top: -10px;
    font-size: 22px;
    color: rgb(141, 138, 138);
    text-decoration: none;
    z-index: 10;
  }
}