.portfolio {
  background-image: linear-gradient(139.76deg, #ce8ff3 1.44%, rgba(235, 195, 241, 0) 69.47%);

  &:after {
    content: "";
    position: absolute;
    top: 40%;
    left: -25%;
    width: 800px;
    height: 800px;
    background-color: rgba(160, 4, 255, 0.1);
    transform: rotate(45deg);
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../images/bg-about.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 530px;
    z-index: -1;
  }

  &__title {
    margin-bottom: 100px;
    padding-top: 0;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      display: block;
      height: 66px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:before {
      background-image: url('../images/vector/vector-portfolio1.svg');
      width: 175px;
      left: 0;
      top: -11px;
    }

    &:after {
      background-image: url('../images/vector/vector-portfolio2.svg');
      right: 0;
      width: 158px;
      top: -10px;
    }
  }

  &__inner {
    position: relative;

    &:after {
      content: "";
      background-color: #F3E1F5;
      max-width: 1050px;
      width: 100%;
      height: 1190px;
      background-repeat: no-repeat;
      position: absolute;
      top: -20px;
      left: 400px;
      z-index: -2;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 30px;
    margin-bottom: 150px;
  }

  &__works {
    height: 370px;
    object-fit: cover;
    position: relative;
    transition: opacity 0.5s;

    &:hover .portfolio__hover {
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.8s;
    }

    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      width: 290px;
      height: 290px;
    }

    &--1 {

      &:before {
        background-color: #C23BD8;
        top: -20px;
        left: -20px;
      }
    }

    &--3 {
      grid-column-end: 2;
    }

    &--5 {

      &:before {
        width: 370px;
        height: 370px;
        background-color: #DA8EE7;
        top: -136px;
        right: -136px;
      }
    }

    &--6 {
      grid-column-end: 3;
    }

    &--7 {
      margin-left: 30px;

      &:before {
        background-color: #C23BD8;
        bottom: -20px;
        right: -20px;
      }
    }

    &--8 {
      position: relative;
      grid-column-end: 3;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -420px;
        width: 370px;
        height: 370px;
        background-image: url('../images/circle.png');
        background-repeat: no-repeat;
        background-position: right;
      }

      &:before {
        bottom: -20px;
        left: 0;
        background-color: #C23BD8;
        width: 370px;
        height: 20px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  &__hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 70, 71, 0.71);
    will-change: transform;
    transform: scale(0);
  }

  &__text-hover {
    margin-bottom: 20px;
  }

  &__link-hover {
    position: absolute;
    bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
  }

  &__line {
    background-color: #503760;
    opacity: 1;

    &--1 {
      top: 0;
      left: 33%;
    }

    &--2 {
      width: 160px;
      top: 0;
      right: 25%;
    }

    &--3 {
      width: 100px;
      bottom: 0;
      right: 30%;
    }
  }

  &__ask {
    color: #60226A;
    font-size: 30px;
    margin-bottom: 70px;
  }
}