.portfolio {
  background: linear-gradient(139.76deg, #60226A 1.44%, rgba(194, 59, 216, 0) 69.47%);
  padding: 100px 0;
  text-align: center;
  position: relative;

  &:after {
      content: "";
      width: 800px;
      height: 800px;
      position: absolute;
      background-color: rgba(160, 4, 255, 0.1);
      transform: rotate(45deg);
      top: 33%;
      left: -500px;
    }

  &:before {
    content: "";
    background-image: url(../images/bg-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 530px;
    z-index: -1;
  }

  &__title {
    width: 350px;
    height: 75px;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 66px;
    }

    &:before {
      background-image: url(../images/vector-portfolio1.svg);
      width: 175px;
      left: 0;
      top: -11px;
    }

    &:after {
      background-image: url(../images/vector-portfolio2.svg);
      right: 0;
      width: 158px;
      top: -10px;
    }
  }

  &__inner {
    margin: 180px 0 100px;
    z-index: 3;
    position: relative;

    &:after {
      content: "";
      background-color: #F3E1F5;
      width: 1360px;
      height: 1155px;
      background-repeat: no-repeat;
      position: absolute;
      top: -115px;
      right: -390px;
      z-index: -2;
    }
  }

  &__works {
    max-width: 390px;
    height: 390px;
    object-fit: cover;
    margin: 0 35px 35px 0;
    position: relative;
    @include transition;
   

    &:hover .portfolio__hover {
      opacity: 1;
    }

    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      width: 290px;
      height: 290px;
    }

    &--1 {
      position: relative;

      &:before {
        background-color: #C23BD8;
        top: -20px;
        left: -20px;
      }
    }

    &--5 {
      position: relative;

      &:before {
        width: 390px;
        height: 390px;
        background-color: #DA8EE7;
        top: -136px;
        right: -136px;
      }
    }

    &--7 {
      margin-right: 0;
      position: relative;

      &:before {
        background-color: #C23BD8;
        bottom: -20px;
        right: -20px;
      }
    }

    &--8 {
      margin-right: 0;
      position: relative;

      &:after {
        content: "";
        background-image: url(../images/circle.png);
        background-repeat: no-repeat;
        width: 390px;
        height: 390px;
        position: absolute;
        top: 0;
        right: -425px;
      }

      &:before {
        background-color: #C23BD8;
        width: 390px;
        height: 20px;
        bottom: -20px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    max-width: 390px;
    max-height: 390px;
    background-color: rgba(72, 67, 67, 0.71);
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
  }

  &__text-hover {
    margin-bottom: 20px;
  }

  &__link-hover {
    position: absolute;
    bottom: 40px;
    font-weight: 500;
    text-transform: none;
    font-size: 16px;
  }

  &__line {
    background-color: #503760;
    opacity: 1;

    &--1 {
      top: 0;
      left: 33%;
    }

    &--2 {
      width: 160px;
      top: 0;
      right: 25%;
    }

    &--3 {
      width: 100px;
      bottom: 0;
      right: 30%;
    }
  }
}