.reviews {
  position: relative;
  z-index: 0;
  width: 100%;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(33, 28, 34, 0.81);
  }

  &__inner {
    padding: 50px 0;
  }

  &__line {

    &--1 {
      top: 0;
      background-color: #AA75C3;
      left: 10%;
    }

    &--2 {
      width: 140px;
      bottom: 0;
      background-color: $bg-skills;
      right: 10%;
    }

    &--3 {
      width: 80px;
      top: 0;
      background-color: #975FB7;
      left: 40%;
    }

    &--4 {
      width: 100px;
      bottom: 0;
      background-color: $bg-skills;
      left: 30%;
    }
  }

  &__title {

    &:before,
    &:after {
      content: " ";
      position: absolute;
      display: block;
      height: 90px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: -22px;
    }

    &:before {
      background-image: url('../images/vector/vector-reviews2.svg');
      width: 185px;
      left: 0;
    }

    &:after {
      background-image: url('../images/vector/vector-reviews1.svg');
      right: 0;
      width: 144px;
    }
  }

  &__text-md {
    margin: 40px 0 20px;
    font-size: 30px;
    letter-spacing: 0.02em;
    opacity: 0.9;
    color: $white;
  }

  &__text-sm {
    display: block;
    margin-bottom: 50px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__text {
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 24px;
    -webkit-line-clamp: 5;
    @include text-hidden;
  }

  &__wrapper {
    counter-reset: number;
    z-index: 0;
  }

  &__slide {
    position: relative;
    max-width: 300px;
    height: 200px;
    background: linear-gradient(226.21deg, #911BD9 21.9%, #4340D1 100%);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 20px;
    margin-bottom: 50px;
    counter-increment: number;

    &:after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 50px 0 0;
      border-color: #4340D1 transparent transparent transparent;
    }

    &:before {
      content: counter(number, decimal-leading-zero);
      position: absolute;
      bottom: -10px;
      right: 10px;
      font-size: 144px;
      color: $white;
      opacity: 0.08;
    }
  }

  &__container {
    width: 100%;
    padding-bottom: 50px;
    z-index: 0;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;

    &--1 {
      background-position: -110px -56px;
    }

    &--2 {
      background-position: -56px -54px;
    }

    &--3 {
      background-position: -58px -2px;
    }

    &--4 {
      background-position: -2px -56px;
    }

    &--5 {
      background-position: -110px -2px;
    }

    &--6 {
      background-position: -0 -109px;
    }

    &--7 {
      background-position: -56px 52px;
    }

    &--8 {
      background-position: -107px -273px;
    }

    &--9 {
      background-position: -3px 0;
    }
  }

  &__name {
    font-size: 16px;
  }

  .swiper-pagination-bullet {
    background-color: $white;
    transition: background-color 0.3s ease-in-out;
  }

  .swiper-pagination-bullet {
    &:hover {
      background-color: $text-form;
    }
  }
}