.skills {
  background-image: radial-gradient(circle, rgba(193,115,212,1) 0%, rgba(60,5,92,1) 100%, rgba(0,31,255,1) 100%);
  width: 100%;
  z-index: 2;
  position: relative;
  padding-bottom: 70px;

  &__line {
    bottom: 0;
    opacity: 1;

    &--1 {
      width: 80px;
      background-color: #84468E;
      left: 15%;
    }

    &--2 {
      background-color: #A368AC;
      left: 39.3%;
    }

    &--3 {
      width: 80px;
      background-color: #DCB4E2;
      right: 0;
    }
  }

  &__container {
    padding-bottom: 70px;
    width: 100%;
    height: 100%;
    display: flex;

    &:after {
      content: " ";
      position: absolute;
      display: block;
      top: 50px;
      z-index: -1;
      background-color: rgba(38, 34, 34, 0.8);
      width: 100%;
      height: 220px;
    }
  }

  &__triangle {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 180px 320px 180px;
    border-color: transparent transparent $line transparent;

    &:after {
      content: "";
      position: absolute;
      top: 14px;
      left: -170px;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      z-index: 1;
      border-style: solid;
      border-width: 0 170px 300px 170px;
      border-color: transparent transparent $bg-skills transparent;
    }

    &--turn {
      transform: rotate(180deg);
      z-index: 2;
    }
  }

  &__hover {
    background-color: $line;
  }

  &__icon {
    display: block;
    position: absolute;
    z-index: 3;
    top: 150px;
    left: -50px;
    width: 100px;
    height: 102px;
    background-repeat: no-repeat;
    background-size: 142px 106px;
    background-size: cover;

    &--turn {
      transform: rotate(180deg);
      z-index: 3;
    }

    &--width {
      height: 100px;
    }

    &--html {
      height: 107px;
    }

    &--js {
      height: 113px;
    }

    &--gulp {
      width: 57px;
      height: 120px;
      margin-left: 20px;
    }

    &--npm {
      width: 100px;
      height: 89px;
    }

    &--sketch {
      width: 100px;
      height: 92px;
    }
  }

  &__title {

    &:before,
    &:after {
      content: " ";
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:before {
      background-image: url('../images/vector-skills1.svg');
      width: 185px;
      height: 75px;
      left: 0;
      top: -13px;
    }

    &:after {
      background-image: url('../images/vector-skills2.svg');
      right: 0;
      width: 148px;
      height: 70px;
      top: -8px;
    }
  }

  .swiper-pagination-bullet {
    background-color: $white;
  }

  .swiper-pagination-bullet-active {
    background-color: $line;
  }
}